.extension-overview-navigation-window-tooltip,
.extension-overview-navigation-window-tooltip-closing {
  color: #fefefe;
  background: rgba(0, 0, 0, 0.8);
  border: 1px solid rgba(128, 128, 128, 0.4);
  border-radius: 10px;
  font-size: 140%;
  font-weight: bold;
  padding: 2px 8px;
  -shell-caption-spacing: 4px;
}

.extension-overview-navigation-window-tooltip-closing {
  color: #bb1714;
}
